<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="Fruitcounter.module.css">
    <title>$Title$</title>
</head>
<body>
$END$
<section>
  <fieldset class="fruitcounter-container">
    <article class="fruitcounter-content">
      <p class="fruitname">🍓Aardbeien</p>
      <button> +1</button>
      <p>0</p>
      <button> -1</button>
    </article>
  </fieldset>
  <br>
  <fieldset>
    <article class="fruitcounter-content">
      <p class="fruitname">🍌Bananen</p>
      <button> +1</button>
      <p>0</p>
      <button> -1</button>
    </article>
  </fieldset>
  <br>
  <fieldset>
    <article class="fruitcounter-content">
      <p class="fruitname">🍏Appels</p>
      <button> +1</button>
      <p>0</p>
      <button> -1</button>
    </article>
  </fieldset>
  <br>
  <fieldset>
    <article class="fruitcounter-content">
      <p class="fruitname">🥝Kiwi's</p>
      <button> +1</button>
      <p>0</p>
      <button> -1</button>
    </article>
  </fieldset>
  <br>
  <article>
    <button class="reset-button" type="reset">Reset</button>
  </article>

</section>

</body>
</html>
