<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
$END$
<section>
  <fieldset>
  <article>
    <p>🍓Aardbeien</p>
    <button> +1</button>
    <p>0</p>
    <button> -1</button>
  </article>
  </fieldset>
  <fieldset>
  <article>
    <p>🍌Bananen</p>
    <button> +1</button>
    <p>0</p>
    <button> -1</button>
  </article>
  </fieldset>
  <fieldset>
  <article>
    <p>🍏Appels</p>
    <button> +1</button>
    <p>0</p>
    <button> -1</button>
  </article>
  </fieldset>
  <fieldset>
  <article>
    <p>🥝Kiwi's</p>
    <button> +1</button>
    <p>0</p>
    <button> -1</button>
  </article>
  </fieldset>
  <br>

  <article>
    <button type="reset">Reset</button>
  </article>

</section>

</body>
</html>